# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\master\dissertation\testAut\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
